* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #0f0f0f;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: #111;
}

.logo {
    color: red;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.btn {
    background: red;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.section {
    padding: 80px 10%;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    background: #1a1a1a;
    padding: 30px;
    width: 280px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background: #222;
}

.contato {
    background: #111;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
}
